In [4]:
import csv
file = open("C:\\Users\\Acer\\Desktop\\Jupyter Projects\\RollNo_Marks.csv")
csvreader = csv.reader(file)
header = next(csvreader)
print(header)
rows = []
for row in csvreader:
    rows.append(row)
print(rows)
file.close()

['RollNo', 'Marks']
[['1', '89'], ['2', '78'], ['3', '85'], ['4', '92'], ['5', '70'], ['6', '88']]

In [5]:
import csv
rows = []
with open("C:\\Users\\Acer\\Desktop\\Jupyter Projects\\RollNo_Marks.csv") as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    for row in csvreader:
        rows.append(row)
print(header)
print(rows)
file.close()

['RollNo', 'Marks']
[['1', '89'], ['2', '78'], ['3', '85'], ['4', '92'], ['5', '70'], ['6', '88']]

In [1]:
import pandas as pd
data= pd.read_csv("C:\\Users\\Acer\\Desktop\\Jupyter Projects\\RollNo_Marks.csv")
data.columns

Index(['RollNo', 'Marks'], dtype='object')

In [2]:
import pandas as pd
data= pd.read_csv("C:\\Users\\Acer\\Desktop\\Jupyter Projects\\RollNo_Marks.csv")
data.RollNo

0    1
1    2
2    3
3    4
4    5
5    6
Name: RollNo, dtype: int64

In [3]:
import pandas as pd
data= pd.read_csv("C:\\Users\\Acer\\Desktop\\Jupyter Projects\\RollNo_Marks.csv")
data.Marks

0    89
1    78
2    85
3    92
4    70
5    88
Name: Marks, dtype: int64

In [22]:
header = ['Name', 'Age', 'Salary']
data = [['Tanmay', 32, 80000], ['Sanket', 21, 30600], ['Chinmay', 54, 98000]]
filename = 'Salary.csv'
with open(filename, 'w', newline="") as file:
    csvwriter = csv.writer(file)            
    csvwriter.writerow(header)         
    csvwriter.writerows(data)

In [14]:
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
data = pd.DataFrame(data, columns=header)
data.to_csv('Stu_data.csv', index=False)

In [24]:
import pandas as pd
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
filename = 'Student_scores.csv'
with open(filename, 'w') as file:
    for header in header:
        file.write(str(header)+', ')
    file.write(‘\n')
    for row in data:
        for x in row:
            file.write(str(x)+', ')
        file.write('\n')

SyntaxError: invalid non-printable character U+00A0 (784245946.py, line 2)

In [29]:
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
data = pd.DataFrame(data, columns=header)
data.to_csv('Stu_data.csv', index=False)

In [31]:
data.isnull()

    Name  M1 Score  M2 Score
0  False     False     False
1  False     False     False
2  False     False     False

In [33]:
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
data = pd.DataFrame(data, columns=header)
data.to_csv('Stu_data.csv',index=False)
data.isnull().sum()

Name        0
M1 Score    0
M2 Score    0
dtype: int64

In [35]:
import pandas as pd
import numpy as np
data = {'set_of_number': [1,23,4,5,np.nan,6,7,np.nan,np.nan,8,9,10,np.nan]}
df= pd.DataFrame(data)
print(df)

    set_of_number
0             1.0
1            23.0
2             4.0
3             5.0
4             NaN
5             6.0
6             7.0
7             NaN
8             NaN
9             8.0
10            9.0
11           10.0
12            NaN

In [36]:
import pandas as pd
df = pd.read_csv('Product.csv')
print(df)

            Product   Price
0  Desktop Computer   700.0
1            Tablet     NaN
2               NaN   500.0
3            Laptop  1200.0

In [47]:
import pandas as pd
import numpy as np
data = {'First_set': [1,2,3,4,5,np.nan,6,7,np.nan,np.nan,8,9,10,np.nan],
       'second_set': ['a','b',np.nan,np.nan, 'c','d','e',np.nan,np.nan,'ff'],
       'third_set':['aa',np.nan,'bb','cc',np.nan,np.nan,'dd',np.nan,np.nan,'ee']}
df= pd.DataFrame(data,columns=['First_set,second_set,third_set'])
print(df)

Empty DataFrame
Columns: [First_set,second_set,third_set]
Index: []

In [37]:
import pandas as pd
import numpy as np
data = {
       'first_set': [1,2,3,4,5,np.nan,6,7,np.nan,np.nan,8,9,10,np.nan],
       'second_set': ['a','b',np.nan,np.nan, 'c','d','e',np.nan,np.nan,'f'],
       'third_set':['aa',np.nan,'bb','cc',np.nan,np.nan,'dd',np.nan,np.nan,'ee']
       }
df= pd.DataFrame(data,columns=['first_set','second_set','third_set'])

count_nan =df['first_set'].isna().sum()

print('Count of NaN: '+str(count_nan))

ValueError: All arrays must be of the same length

In [39]:
import pandas as pd
import numpy as np
data = {
       'first_set': [1,2,3,4,5,np.nan,6,7,np.nan,np.nan,8,9,10,np.nan],
       'second_set': ['a','b',np.nan,np.nan, 'c','d','e',np.nan,np.nan,'ff'],
       'third_set':['aa',np.nan,'bb','cc',np.nan,np.nan,'dd',np.nan,np.nan,'ee']
       }
df= pd.DataFrame(data,columns=['first_set,second_set,third_set'])

count_nan =df.isna().sum().sum()

print('Count of NaN: '+str(count_nan))

Count of NaN: 0.0

In [8]:
import pandas as pd
boxes ={
        'Color' :['Green','Green','Green','Blue','Blue','Red','Red','Red'],
        'Shape': ['Rectangle','Rectangle','Square','Rectangle','Square','Square','Square','Rectangle']
       }

df= pd.DataFrame(boxes, columns = ['Color','Shape'])
print(df)

   Color      Shape
0  Green  Rectangle
1  Green  Rectangle
2  Green     Square
3   Blue  Rectangle
4   Blue     Square
5    Red     Square
6    Red     Square
7    Red  Rectangle

In [12]:
import pandas as pd
boxes ={
        'Color' :['Green','Green','Green','Blue','Blue','Red','Red','Red'],
        'Shape': ['Rectangle','Rectangle','Square','Rectangle','Square','Square','Square','Rectangle']
       }

df= pd.DataFrame(boxes, columns = ['Color','Shape'])
df_duplicates_removed = df.drop_duplicates()
print(df_duplicates_removed)

   Color      Shape
0  Green  Rectangle
2  Green     Square
3   Blue  Rectangle
4   Blue     Square
5    Red     Square
7    Red  Rectangle

In [13]:
import pandas as pd
boxes ={
        'Color' :['Green','Green','Green','Blue','Blue','Red','Red','Red'],
        'Shape': ['Rectangle','Rectangle','Square','Rectangle','Square','Square','Square','Rectangle']
       }

df= pd.DataFrame(boxes, columns = ['Color','Shape'])
df_duplicates_removed = df.drop_duplicates(subset=['Color'])
print(df_duplicates_removed)

   Color      Shape
0  Green  Rectangle
3   Blue  Rectangle
5    Red     Square

In [14]:
import pandas as pd
boxes ={
        'Color' :['Green','Green','Green','Blue','Blue','Red','Red','Red'],
        'Shape': ['Rectangle','Rectangle','Square','Rectangle','Square','Square','Square','Rectangle']
       }

df= pd.DataFrame(boxes, columns = ['Color','Shape'])
df_duplicates_removed = df.drop_duplicates(subset=['Shape'])
print(df_duplicates_removed)

   Color      Shape
0  Green  Rectangle
2  Green     Square

In [20]:
import pandas as pd

data= {
    'product': ['A','B','C','C','D'],
    'price': [22000,27000,25000,29000,35000],
    'year':[2014,2015,2016,2017,2018]
}
    
df= pd.DataFrame(data)
print(df)

  product  price  year
0       A  22000  2014
1       B  27000  2015
2       C  25000  2016
3       C  29000  2017
4       D  35000  2018

In [21]:
import pandas as pd

data= {
    'product': ['A','B','C','C','D'],
    'price': [22000,27000,25000,29000,35000],
    'year':[2014,2015,2016,2017,2018]
}
    
df= pd.DataFrame(data)
stats_numeric =df['price'].describe()
print(stats_numeric)

count        5.000000
mean     27600.000000
std       4878.524367
min      22000.000000
25%      25000.000000
50%      27000.000000
75%      29000.000000
max      35000.000000
Name: price, dtype: float64

In [22]:
import pandas as pd

data= {
    'product': ['A','B','C','C','D'],
    'price': [22000,27000,25000,29000,35000],
    'year':[2014,2015,2016,2017,2018]
}
    
df= pd.DataFrame(data)
stats_numeric =df['price'].describe().astype(int)
print(stats_numeric)

count        5
mean     27600
std       4878
min      22000
25%      25000
50%      27000
75%      29000
max      35000
Name: price, dtype: int32

In [25]:
import pandas as pd

data= {
    'product': ['A','B','C','C','D'],
    'price': [22000,27000,25000,29000,35000],
    'year':[2014,2015,2016,2017,2018]
}
    
df= pd.DataFrame(data)
stats_category =df['product'].describe()
print(stats_category)

count     5
unique    4
top       C
freq      2
Name: product, dtype: object

In [34]:
import pandas as pd

data= {
    'product': ['A','B','C','C','D'],
    'price': [22000,27000,25000,29000,35000],
    'year':[2014,2015,2016,2017,2018]
}
    
df= pd.DataFrame(data)
stats =df.describe(include='all')
print(stats)

       product         price         year
count        5      5.000000     5.000000
unique       4           NaN          NaN
top          C           NaN          NaN
freq         2           NaN          NaN
mean       NaN  27600.000000  2016.000000
std        NaN   4878.524367     1.581139
min        NaN  22000.000000  2014.000000
25%        NaN  25000.000000  2015.000000
50%        NaN  27000.000000  2016.000000
75%        NaN  29000.000000  2017.000000
max        NaN  35000.000000  2018.000000